@use "../base/functions";
@use "../base/variables";

.btn {
  display: inline-block;
  padding: functions.rem(16) functions.rem(20);
  font-weight: 700;
  font-size: functions.rem(14);
  font-family: variables.$secondaryFontFamily;
  line-height: functions.lh(18.4);
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: variables.$btnRadius;
  transition: all variables.$transition;

  @media (min-width: variables.$xl) {
    padding: functions.rem(18) functions.rem(40);
    font-size: functions.rem(16);
  }

  @media (hover: hover) {
    cursor: pointer;

    &:hover {
      color: variables.$white;
      background-color: variables.$btnColorHover;
      outline-color: variables.$btnColorHover;
    }
  }

  &-primary {
    color: variables.$white;
    background-color: variables.$primaryColor;
  }

  &-secondary {
    color: variables.$primaryColor;
    font-size: functions.rem(14);
    background-color: transparent;
    border-radius: variables.$btnRadius;
    outline: functions.rem(2) solid variables.$primaryColor;
  }
}
