@use '../base/functions';
@use '../base/variables';

.swiper-catalog {
  position: relative;
  margin: 0 auto;
  overflow-x: hidden;

  @media (min-width: variables.$xl) {
    width: calc(100% - functions.rem(120));
  }
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  flex-shrink: 0;
  text-align: center;
  cursor: grabbing;
}

// container for navigation
.swiper-btns {
  display: none;

  @media (min-width: variables.$xl) {
    position: absolute;
    top: 45%;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    width: calc(100% - functions.rem(60));
    opacity: 0.3;
  }
}

.swiper-button-next,
.swiper-button-prev {
  width: functions.rem(16);
  height: functions.rem(16);
  cursor: pointer;

  &::after {
    display: inline-block;
    padding: functions.rem(16);
    border: solid variables.$primaryColor;
    border-width: 0 functions.rem(10) functions.rem(10) 0;
    transition: transform variables.$transition;
    content: '';
  }
}

.swiper-button-prev {
  &::after {
    transform: rotate(135deg);
  }

  @media (hover: hover) {
    &:hover::after {
      transform: rotate(135deg) scale(1.4);
    }
  }
}

.swiper-button-next {
  &::after {
    transform: rotate(-45deg);
  }

  @media (hover: hover) {
    &:hover::after {
      transform: rotate(-45deg) scale(1.4);
    }
  }
}

.swiper-catalog-btns {
  padding: functions.rem(2);
}
