.catalog {
  .container {
    position: relative;
  }

  // .catalog__title

  &__title {
    text-align: center;
  }

  // .catalog__btns

  &__btns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(160), 1fr));
    gap: rem(20);
    margin-bottom: rem(30);

    @media (min-width: $sm) {
      grid-template-columns: repeat(auto-fit, minmax(rem(228), 1fr));
    }

    @media (min-width: $lg) {
      margin-bottom: rem(60);
    }
  }

  // .catalog__btn

  &__btn {
    @media (max-width: rem(567.98)) {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: rem(10);
    }
  }

  // .catalog__slider

  &__slider {
  }

  // .catalog__slider-wrapper

  &__slider-wrapper {
  }

  // .catalog__slide

  &__slide {
  }

  // .catalog__slider-img

  &__slider-img {
    margin-bottom: rem(30);
  }

  // .catalog__slider-text

  &__slider-text {
    margin-bottom: rem(48);
    font-weight: 700;
    font-size: rem(18);

    span {
      display: block;
      margin-bottom: rem(10);
      color: $primaryColor;
      font-weight: 900;
      font-size: rem(20);
    }

    @media (min-width: $md) {
      span {
        font-size: rem(30);
      }
    }
  }

  // .catalog__slider-list

  &__slider-list {
  }
}

.list-catalog {
  display: flex;
  flex-wrap: wrap;
  gap: rem(20);
  justify-content: center;

  @media (min-width: $sm) {
    justify-content: space-between;
  }

  // .list-catalog__item

  &__item {
    color: $gray;
    font-weight: 500;
    font-size: rem(18);

    span {
      display: block;
      color: $primaryColor;
      font-weight: 700;
      font-size: rem(20);
    }

    @media (min-width: $md) {
      font-size: rem(24);

      span {
        font-size: rem(30);
      }
    }
  }
}
