@use "../base/functions";
@use "../base/variables";

.footer {
  padding: functions.rem(30) 0;

  // .footer__row

  &__row {
    display: flex;
    flex-wrap: wrap;
    gap: functions.rem(30) functions.rem(50);
    justify-content: space-between;

    @media (min-width: variables.$md) {
      justify-content: initial;
    }
  }

  // .footer__phone

  &__phone {
    display: flex;
    align-items: center;
  }
}

.address-footer {
  display: flex;
  align-items: center;

  @media (min-width: variables.$md) {
    margin-left: auto;
  }

  // .address-footer__text

  &__text {
    display: flex;
    flex-direction: column;
    margin-left: functions.rem(14);
  }
}

.location {
  width: functions.rem(40);
  height: functions.rem(40);
}
