.footer {
  padding: rem(30) 0;

  // .footer__row

  &__row {
    display: flex;
    flex-wrap: wrap;
    gap: rem(30) rem(50);
    justify-content: space-between;

    @media (min-width: $md) {
      justify-content: initial;
    }
  }

  // .footer__phone

  &__phone {
    display: flex;
    align-items: center;
  }
}

.address-footer {
  display: flex;
  align-items: center;

  @media (min-width: $md) {
    margin-left: auto;
  }

  // .address-footer__text

  &__text {
    display: flex;
    flex-direction: column;
    margin-left: rem(14);
  }
}

.location {
  width: rem(40);
  height: rem(40);
}
