@use '../base/functions' as *;
@use '../base/variables' as *;

.footer {
  padding: rem(10) 0;

  // .footer__row

  &__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 rem(-15);

    @media (min-width: $md) {
      justify-content: initial;
    }
  }

  // .footer__item

  &__item {
    padding: rem(20) rem(15);
  }

  // .footer__phone

  &__phone {
    display: flex;
    align-items: center;
  }
}

.address-footer {
  display: flex;
  align-items: center;

  @media (min-width: $md) {
    margin-left: auto;
  }

  // .address-footer__text

  &__text {
    display: flex;
    flex-direction: column;
    margin-left: rem(14);
  }
}

.location {
  width: rem(40);
  height: rem(40);
}
