.header {
  position: absolute;
  z-index: 2;
  width: 100%;
  padding-top: rem(10);
  padding-bottom: rem(10);
  background-color: $glassColor;
  backdrop-filter: blur(6px);

  @media (min-width: $lg) {
    padding-bottom: 0;
  }

  // .header__row

  &__row {
    display: flex;
    gap: rem(30);
    align-items: center;
    width: 100%;
    color: $black;

    @media (min-width: $lg) {
      padding-bottom: rem(15);
      border-bottom: 1px solid $primaryColor;
    }

    @media (min-width: $xl) {
      justify-content: space-between;
    }
  }

  // .header__logo

  &__logo {
    z-index: 11;
    max-width: rem(120);
    margin-right: auto;

    @media (min-width: $sm) {
      max-width: rem(160);
    }

    @media (min-width: $xl) {
      margin-right: 0;
    }
  }

  // .header_quote

  &__quote {
    display: none;

    @media (min-width: $xl) {
      display: block;
      max-width: rem(286);
    }
  }

  // .header__phone

  &__phone {
    display: none;

    @media (min-width: $sm) {
      display: block;
      margin-right: rem(30);
      font-weight: 700;
    }
  }

  // .header__btn

  &__btn {
    display: none;

    // outline-color: $primaryColorLight;

    @media (min-width: $md) {
      display: block;
      padding: rem(15) rem(25);
    }
  }

  &__nav {
  }
}
