@use "../base/functions";
@use "../base/variables";

.header {
  position: absolute;
  z-index: 2;
  width: 100%;
  padding-top: functions.rem(10);
  padding-bottom: functions.rem(10);
  background-color: variables.$white;

  @media (min-width: variables.$lg) {
    padding-bottom: 0;
  }

  // .header__row

  &__row {
    display: flex;
    gap: functions.rem(30);
    align-items: center;
    width: 100%;
    color: variables.$black;

    @media (min-width: variables.$lg) {
      padding-bottom: functions.rem(15);
      border-bottom: 1px solid variables.$primaryColor;
    }

    @media (min-width: variables.$xl) {
      justify-content: space-between;
    }
  }

  // .header__logo

  &__logo {
    z-index: 11;
    margin-right: auto;

    @media (min-width: variables.$xl) {
      margin-right: 0;
    }
  }

  // .header_quote

  &__quote {
    display: none;

    @media (min-width: variables.$xl) {
      display: block;
      max-width: functions.rem(286);
    }
  }

  // .header__phone

  &__phone {
    display: none;

    @media (min-width: variables.$sm) {
      display: block;
      margin-right: functions.rem(30);
      font-weight: 700;
    }

    @media (hover: hover) {
      transition: color variables.$transition;

      &:hover {
        color: variables.$primaryColor;
        text-decoration: underline;
      }
    }
  }

  // .header__btn

  &__btn {
    display: none;

    @media (min-width: variables.$md) {
      display: block;
      padding: functions.rem(15) functions.rem(25);
    }
  }
}
