@use '../base/functions';
@use '../base/variables';

.main-block {
  padding-top: functions.rem(68);

  @media (min-width: variables.$sm) {
    padding-top: functions.rem(84);
  }

  @media (min-width: variables.$lg) {
    padding-top: functions.rem(155);
  }

  &__wrapper {
    padding-top: functions.rem(70);
    padding-bottom: functions.rem(100);
    background-image: url('../images/main-block/main-block-bg-sm.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-width: variables.$md) {
      padding-top: functions.rem(70);
      padding-bottom: functions.rem(140);
      background-image: url('../images/main-block/main-block-bg.jpg');
    }
  }

  .container {
    position: relative;
    z-index: 1;
  }

  // .main-block__title-column

  &__title-column {
    max-width: functions.rem(380);
    padding: functions.rem(40) functions.rem(20);
    background-color: variables.$glassColor;
    border-radius: variables.$radius;
    backdrop-filter: blur(3px);

    @media (min-width: variables.$md) {
      max-width: functions.rem(500);
      padding:
        functions.rem(40) functions.rem(40) functions.rem(60)
        functions.rem(40);
    }
  }

  // .main-block__title

  &__title {
    color: variables.$black;
  }
}
