.main-block {
  padding-top: rem(68);

  @media (min-width: $sm) {
    padding-top: rem(84);
  }

  @media (min-width: $lg) {
    padding-top: rem(155);
  }

  &__wrapper {
    padding-top: rem(70);
    padding-bottom: rem(100);
    background-image: url('../images/main-block/main-block-bg-sm.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-width: $md) {
      padding-top: rem(70);
      padding-bottom: rem(140);
      background-image: url('../images/main-block/main-block-bg.jpg');
    }
  }

  .container {
    position: relative;
    z-index: 1;
  }

  // .main-block__title-column

  &__title-column {
    max-width: rem(380);
    padding: rem(40) rem(20);
    background-color: $glassColor;
    border-radius: $radius;
    backdrop-filter: blur(3px);

    @media (min-width: $md) {
      max-width: rem(500);
      padding: rem(40) rem(40) rem(60) rem(40);
    }
  }

  // .main-block__title

  &__title {
    color: $black;
  }
}
