@use '../base/functions';
@use '../base/variables';

.questions {
  position: relative;
  background-image: url('../images/questions/questions-bg-sm.jpg');

  @media (min-width: variables.$md) {
    background-image: url('../images/questions/questions-bg.jpg');
  }

  .container {
    position: relative;
    z-index: 2;
  }

  &::before {
    position: absolute;
    background-color: variables.$overlayColor;
    content: '';
    inset: 0;
  }

  // .questions__column

  &__column {
    color: variables.$white;
  }

  // .questions__text

  &__text {
    max-width: functions.rem(715);
    margin-bottom: functions.rem(44);
  }
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: functions.rem(30);

  @media (min-width: variables.$sm) {
    flex-wrap: nowrap;
  }

  // .form__input-phone

  &__input-phone {
    width: 100%;
    max-width: functions.rem(553);
    padding: functions.rem(16) functions.rem(20);
    font-size: functions.rem(16);
    border: none;
    border-radius: variables.$btnRadius;

    @media (min-width: variables.$md) {
      padding: functions.rem(24) functions.rem(40);
    }

    &::placeholder {
      color: variables.$placeHolderColor;
      font-size: functions.rem(15);
    }
  }
}
