@use "../base/functions";
@use "../base/variables";

.sale {
  position: relative;
  background-image: url('../images/sale/sale-bg-sm.jpg');

  @media (min-width: variables.$md) {
    background-image: url('../images/sale/sale-bg.jpg');
  }

  .container {
    position: relative;
    z-index: 2;
  }

  &::before {
    position: absolute;
    background-color: variables.$overlayColor;
    content: '';
    inset: 0;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    gap: functions.rem(50);

    @media (min-width: variables.$lg) {
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }
}

.description-sale {
  color: variables.$white;

  @media (min-width: variables.$sm) {
    max-width: functions.rem(638);
  }

  @media (min-width: variables.$lg) {
    flex-basis: functions.rem(638);
  }
}

.info-sale {
  padding: functions.rem(28) functions.rem(15);
  background-color: variables.$white;
  border-radius: variables.$radius;

  @media (min-width: variables.$sm) {
    max-width: functions.rem(447);
    padding: functions.rem(36);
  }

  @media (min-width: variables.$lg) {
    flex-basis: functions.rem(447);
  }

  &__text {
    margin-bottom: functions.rem(36);
  }
}

.list-sale {
  margin-bottom: functions.rem(54);

  // .list-sale__item

  &__item {
    display: flex;

    &:not(:last-child) {
      margin-bottom: functions.rem(24);
    }
  }

  &__icon {
    width: functions.rem(16);
    height: functions.rem(16);
    margin-right: functions.rem(14);
  }
}
