.sale {
  position: relative;
  background-image: url('../images/sale/sale-bg-sm.jpg');

  @media (min-width: $md) {
    background-image: url('../images/sale/sale-bg.jpg');
  }

  .container {
    position: relative;
    z-index: 2;
  }

  &::before {
    position: absolute;
    background-color: $overlayColor;
    content: '';
    inset: 0;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    gap: rem(50);

    @media (min-width: $lg) {
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }
}

.description-sale {
  color: $white;

  @media (min-width: $sm) {
    max-width: rem(638);
  }

  @media (min-width: $lg) {
    flex-basis: rem(638);
  }
}

.info-sale {
  padding: rem(28) rem(15);
  background-color: $white;
  border-radius: $radius;

  @media (min-width: $sm) {
    max-width: rem(447);
    padding: rem(36);
  }

  @media (min-width: $lg) {
    flex-basis: rem(447);
  }

  &__text {
    margin-bottom: rem(36);
  }
}

.list-sale {
  margin-bottom: rem(54);

  // .list-sale__item

  &__item {
    display: flex;

    &:not(:last-child) {
      margin-bottom: rem(24);
    }
  }

  &__icon {
    width: rem(16);
    height: rem(16);
    margin-right: rem(14);
  }
}
