@use '../base/functions';
@use '../base/variables';

.why {
  // .why__title

  &__title {
    text-align: center;
  }

  // .why__item

  &__item {
    display: flex;
    flex-wrap: wrap;
    gap: functions.rem(30);

    &:not(:first-child) {
      margin-top: functions.rem(60);
    }

    @media (min-width: variables.$md) {
      flex-wrap: nowrap;

      &:nth-child(3) {
        flex-direction: row-reverse;
      }
    }
  }

  // .why__item-column

  &__item-column {
    flex-basis: 100%;

    &:nth-child(1) {
      order: 1;
    }

    @media (min-width: variables.$md) {
      flex-basis: 50%;

      &:nth-child(1) {
        order: initial;
      }
    }
  }

  // .why__item-title

  &__item-title {
    text-transform: uppercase;
  }

  // .why__item-list

  &__item-list {
    margin-bottom: functions.rem(42);
  }
}

.list-why {
  // .list-why__item

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: functions.rem(30);
  }

  // .list-why__icon

  &__icon {
    width: functions.rem(16);
    height: functions.rem(16);
    margin-right: functions.rem(28);
  }
}
