@use '../base/functions' as *;
@use '../base/variables' as *;

.why {
  padding-bottom: rem(20);

  // .why__title

  &__title {
    text-align: center;
  }

  // .why__item

  &__item {
    display: grid;
    gap: rem(30);
    margin-bottom: rem(60);

    @media (min-width: $md) {
      grid-template-columns: 1fr 1fr;

      &:nth-child(3) .why__item-column:first-child {
        order: 2;
      }
    }
  }

  // .why__item-title

  &__item-title {
    text-transform: uppercase;
  }

  // .why__item-list

  &__item-list {
    margin-bottom: rem(42);
  }
}

.list-why {
  // .list-why__item

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: rem(30);
  }

  // .list-why__icon

  &__icon {
    width: rem(16);
    height: rem(16);
    margin-right: rem(28);
  }
}
