<section class="catalog section">
  <div class="container">
    <h2 class="catalog__title h2">Каталог недвижимости</h2>
    <div class="catalog__btns">
      <a href="#" class="catalog__btn btn btn-secondary">Квартиры и новостройки</a>
      <a href="#" class="catalog__btn btn btn-secondary">Новостройки</a>
      <a href="#" class="catalog__btn btn btn-secondary">Аренда квартир и комнат</a>
      <a href="#" class="catalog__btn btn btn-secondary">Загородная</a>
    </div>

    <div class="catalog__slider swiper-catalog">
      <div class="catalog__slider-wrapper swiper-wrapper">
        <div class="catalog__slide swiper-slide">
          <div class="catalog__slider-img">
            <picture>
              <source srcset="images/catalog/catalog-1.webp" type="image/webp" media="(min-width: 568px)">
              <source srcset="images/catalog/catalog-1.jpg" media="(min-width: 568px)">
              <source srcset="images/catalog/catalog-1-sm.webp" type="image/webp">
              <img src="images/catalog/catalog-1-sm.jpg" width="746" height="497" alt="жилой комплекс Река">
            </picture>
          </div>
          <p class="catalog__slider-text">
            <span>3-комн. квартира, 125,4 м²</span>
            в ЖК «Река», Квартал 10 корпус 1, сдача в 4 кв. 2021
          </p>
          <ul class="catalog__slider-list list-catalog">
            <li class="list-catalog__item">
              <span>125,4 м²</span>
              Общая
            </li>
            <li class="list-catalog__item">
              <span>97,9 м²</span>
              Жилая
            </li>
            <li class="list-catalog__item">
              <span>27,5 м²</span>
              Кухня
            </li>
            <li class="list-catalog__item">
              <span>7 из 11</span>
              Этаж
            </li>
            <li class="list-catalog__item">
              <span>2021</span>
              Срок сдачи
            </li>
          </ul>
        </div>

        <div class="catalog__slide swiper-slide">
          <div class="catalog__slider-img">
            <picture>
              <source srcset="images/catalog/catalog-2.webp" type="image/webp" media="(min-width: 568px)">
              <source srcset="images/catalog/catalog-2.jpg" media="(min-width: 568px)">
              <source srcset="images/catalog/catalog-2-sm.webp" type="image/webp">
              <img src="images/catalog/catalog-2-sm.jpg" width="746" height="497" alt="жилой комплекс Озеро">
            </picture>
          </div>
          <p class="catalog__slider-text">
            <span>3-комн. квартира, 125,4 м²</span>
            в ЖК «Озеро», Квартал 10 корпус 1, сдача в 4 кв. 2021
          </p>
          <ul class="catalog__slider-list list-catalog">
            <li class="list-catalog__item">
              <span>125,4 м²</span>
              Общая
            </li>
            <li class="list-catalog__item">
              <span>97,9 м²</span>
              Жилая
            </li>
            <li class="list-catalog__item">
              <span>27,5 м²</span>
              Кухня
            </li>
            <li class="list-catalog__item">
              <span>7 из 11</span>
              Этаж
            </li>
            <li class="list-catalog__item">
              <span>2021</span>
              Срок сдачи
            </li>
          </ul>
        </div>

        <div class="catalog__slide swiper-slide">
          <div class="catalog__slider-img">
            <picture>
              <source srcset="images/catalog/catalog-3.webp" type="image/webp" media="(min-width: 568px)">
              <source srcset="images/catalog/catalog-3.jpg" media="(min-width: 568px)">
              <source srcset="images/catalog/catalog-3-sm.webp" type="image/webp">
              <img src="images/catalog/catalog-3-sm.jpg" width="746" height="497" alt="жилой комплекс Онегин">
            </picture>
          </div>
          <p class="catalog__slider-text">
            <span>3-комн. квартира, 125,4 м²</span>
            в ЖК «Онегин», Квартал 10 корпус 1, сдача в 4 кв. 2021
          </p>
          <ul class="catalog__slider-list list-catalog">
            <li class="list-catalog__item">
              <span>125,4 м²</span>
              Общая
            </li>
            <li class="list-catalog__item">
              <span>97,9 м²</span>
              Жилая
            </li>
            <li class="list-catalog__item">
              <span>27,5 м²</span>
              Кухня
            </li>
            <li class="list-catalog__item">
              <span>7 из 11</span>
              Этаж
            </li>
            <li class="list-catalog__item">
              <span>2021</span>
              Срок сдачи
            </li>
          </ul>
        </div>
      </div>
      
    </div>
    <div class="swiper-btns">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>