<section class="main-block bg-img">
  <div class="container">
    <div class="main-block__title-column">
      <h1 class="main-block__title h1">
        Агентство недвижимости <span>ИНКОМ</span> Мы гарантировано<br/> продадим вашу недвижимость
        на <span>15% дороже</span>
      </h1>
      <a href="#" class="main-block__btn btn">Узнать стоимость продажи</a>
    </div>

    <ul class="main-block__info info-main-block">
      <li class="info-main-block__item">
          <img class="info-main-block__icon" src="images/circle.svg" width="32" height="32" alt="иконка">
          <span class="info-main-block__text">Продано недвижимости на 3 млрд рублей за 5 лет</span>
      </li>
      <li class="info-main-block__item">
        <img class="info-main-block__icon" src="images/circle.svg" width="32" height="32" alt="иконка">
        <span class="info-main-block__text">Юридическое  сопровождение</span>
      </li>
      <li class="info-main-block__item">
        <img class="info-main-block__icon" src="images/circle.svg" width="32" height="32" alt="иконка">
        <span class="info-main-block__text">Квартиры по Москве и области на любой выбор</span>
      </li>
    </ul>
  </div>
</section>
