<section class="questions section bg-img">
  <div class="container">
    <div class="questions__column">
      <h2 class="questions__title h2">Еще остались вопросы?</h2>

      <p class="questions__text">
        Наши эксперты помогут осуществить любые сделки с недвижимостью — обмен,
        покупку или продажу недвижимости в Москве и области, аренду городских и
        загородных объектов.
      </p>

      <form action="#" class="question__form form">
        <input class="form__input-phone" type="tel" name="input-phone" id="input-phone" placeholder="Введите ваш телефон">
        <button class="form__btn btn btn-primary">Получить консультацию</button>
      </form>
    </div>
  </div>
</section>
