<section class="sale section bg-img">
  <div class="container">
    <div class="sale__row">
      <div class="sale__description description-sale">
        <h2 class="description-sale__title h2">
          Продажа недвижимости в Москве и Подмосковье
        </h2>
        <p class="description-sale__text">
          Мы оказываем риэлторские услуги по аренде и продаже недвижимости во всех
          сегментах. С помощью наших специалистов вы сможете купить элитную
          недвижимость в Москве и Подмосковье, а также приобрести жилье
          эконом-класса.
        </p>
        <p class="description-sale__text">
          Специалисты нашего агентства помогут в подборе оптимального для вас
          варианта и оформят сделку по купле-продаже недвижимости максимально
          надежно и быстро!
        </p>
      </div>
  
      <div class="sale__info info-sale">
        <h3 class="info-sale__title h3">
          Продайте недвижимость в залоге, ипотеке или с долгами без потери в цене
        </h3>
        <p class="info-sale__text">
          Агентство недвижимости ИНКОМ — все риэлторские услуги: покупка, продажа,
          обмен, аренда жилой и коммерческой недвижимости Москвы и Подмосковья
        </p>
        <ul class="info-sale__list list-sale">
          <li class="list-sale__item">
            <img class="list-sale__icon" src="images/rectangle-2.svg" width="16" height="16" alt="иконка">
            <p class="list-sale__text"><span>Создаем спрос</span> на объект еще до размещения его в рекламе</p>
          </li>
          <li class="list-sale__item">
            <img class="list-sale__icon" src="images/rectangle-2.svg" width="16" height="16" alt="иконка">
            <p class="list-sale__text">Используем <span>закрытые</span> базы риэлторов</p>
          </li>
          <li class="list-sale__item">
            <img class="list-sale__icon" src="images/rectangle-2.svg" width="16" height="16" alt="иконка">
            <p class="list-sale__text">Продаем через собственную наработанную базу из <span>6000</span></p>
          </li>
        </ul>
        <a href="#" class="list-sale__btn btn btn-primary">Больше информации</a>
      </div>
    </div>
  </div>
</section>
