<section class="why section">
  <div class="container">
    <h2 class="why__title h2">Почему мы продаем дорого и делаем это в 2 раза быстрее</h2>

    <div class="why__item">
      <div class="why__item-column">
        <h3 class="why__item-title h3">Собственная база покупателей</h3>
        <ul class="why__item-list list-why">
          <li class="list-why__item">
            <img class="list-why__icon" src="images/rectangle.svg" width="16" height="16" alt="иконка">
            <p class="list-why__text"><span>Cоздаем спрос</span> на объект еще до размещения
              его в рекламе</p>
          </li>
          <li class="list-why__item">
            <img class="list-why__icon" src="images/rectangle.svg" width="16" height="16" alt="иконка">
            <p class="list-why__text">Используем <span>закрытые базы</span> риэлторов</p>
          </li>
          <li class="list-why__item">
            <img class="list-why__icon" src="images/rectangle.svg" width="16" height="16" alt="иконка">
            <p class="list-why__text">Продаем через собственную наработанную базу из <span>6000</span></p>
          </li>
        </ul>
        <a href="#" class="why__btn btn">Получите превью предложения</a>
      </div>
      
      <div class="why__item-column">
        <picture>
           <source srcset="images/why/why-1.jpg" media="(min-width: 568px)">
           <img src="images/why/why-1-sm.jpg" width="746" height="497" alt="дом у реки">
         </picture>
      </div>
    </div>

    <div class="why__item">
      <div class="why__item-column">
        <h3 class="why__item-title h3">Собственная база покупателей</h3>
        <ul class="why__item-list list-why">
          <li class="list-why__item">
            <img class="list-why__icon" src="images/rectangle.svg" width="16" height="16" alt="иконка">
            <p class="list-why__text"><span>Cоздаем спрос</span> на объект еще до размещения
              его в рекламе</p>
          </li>
          <li class="list-why__item">
            <img class="list-why__icon" src="images/rectangle.svg" width="16" height="16" alt="иконка">
            <p class="list-why__text">Используем <span>закрытые базы</span> риэлторов</p>
          </li>
          <li class="list-why__item">
            <img class="list-why__icon" src="images/rectangle.svg" width="16" height="16" alt="иконка">
            <p class="list-why__text">Продаем через собственную наработанную базу из <span>6000</span></p>
          </li>
        </ul>
        <a href="#" class="why__btn btn">Получите превью предложения</a>
      </div>
      
      <div class="why__item-column">
        <picture>
          <source srcset="images/why/why-2.jpg" media="(min-width: 568px)">
          <img src="images/why/why-2-sm.jpg" width="746" height="497" alt="дом у реки">
        </picture>
      </div>
    </div>

    <div class="why__item">
      <div class="why__item-column">
        <h3 class="why__item-title h3">Собственная база покупателей</h3>
        <ul class="why__item-list list-why">
          <li class="list-why__item">
            <img class="list-why__icon" src="images/rectangle.svg" width="16" height="16" alt="иконка">
            <p class="list-why__text"><span>Cоздаем спрос</span> на объект еще до размещения
              его в рекламе</p>
          </li>
          <li class="list-why__item">
            <img class="list-why__icon" src="images/rectangle.svg" width="16" height="16" alt="иконка">
            <p class="list-why__text">Используем <span>закрытые базы</span> риэлторов</p>
          </li>
          <li class="list-why__item">
            <img class="list-why__icon" src="images/rectangle.svg" width="16" height="16" alt="иконка">
            <p class="list-why__text">Продаем через собственную наработанную базу из <span>6000</span></p>
          </li>
        </ul>
        <a href="#" class="why__btn btn">Получите превью предложения</a>
      </div>
      
      <div class="why__item-column">
        <picture>
          <source srcset="images/why/why-3.jpg" media="(min-width: 568px)">
          <img src="images/why/why-3-sm.jpg" width="746" height="497" alt="дом у реки">
        </picture>
      </div>
    </div>
  </div>
</section>