* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  color: $black;
  font-weight: $fontWeight;
  font-size: rem(16);
  font-family: $fontFamily;
  line-height: $lineHeight;

  @media (min-width: $xl) {
    font-size: $fontSize;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.link {
  @media (hover: hover) {
    &:hover {
      text-decoration: underline;
    }
  }
}

li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
  font-size: 0;
}

svg {
  display: block;
  width: 100%;
}

.container {
  max-width: rem($containerWidth);
  margin-inline: auto;
  padding-inline: rem(15);
}

.section {
  padding: rem(80) 0;
}

.disable-scroll {
  position: relative;
  overflow: hidden;

  &::after {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background-color: rgba(#000, 80%);
    backdrop-filter: blur(4px);
    content: '';
  }
}

// .social-icon {
//   display: inline-block;
//   width: rem(38);
//   height: rem(38);
//   transition: transform $transition;

//   @media (hover: hover) {
//     &:hover {
//       transform: scale(1.2);
//     }
//   }
// }

.location-icon {
  width: rem(40);
  height: rem(40);
}

.bg-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
