@use 'functions';

// Fonts, text
$fontFamily: 'Museo Sans Cyrl', sans-serif;
$secondaryFontFamily: 'Robotto', sans-serif;
$fontSize: functions.rem(18);
$fontWeight: 500;
$lineHeight: 1.4;

// Colors
$primaryColor: #3e5090;
$black: #202020;
$white: #fff;
$glassColor: rgba(238, 238, 238, 60%);
$gray: #5a5a5a;
$btnColorHover: #272e6f;
$overlayColor: rgba(#312002, 70%);
$placeHolderColor: #787878;

// Others
$radius: functions.rem(10);
$btnRadius: functions.rem(4);
$shadow: 0 0 60px rgba(255, 194, 86, 50%);
$transition: 0.3s;

// Sizes
$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1320; // container size
$containerPadding: 30;

// Container width
$containerWidth: $maxWidthContainer + $containerPadding;

// Breakpoints
$sm: functions.rem(568);
$md: functions.rem(768);
$lg: functions.rem(1024);
$xl: functions.rem($maxWidthContainer);

// Columns
// $col-1: calc(100% / 12 * 1);
// $col-2: calc(100% / 12 * 2);
// $col-3: calc(100% / 12 * 3);
// $col-4: calc(100% / 12 * 4);
// $col-5: calc(100% / 12 * 5);
// $col-6: 50%;
// $col-7: calc(100% / 12 * 7);
// $col-8: calc(100% / 12 * 8);
// $col-9: calc(100% / 12 * 9);
// $col-10: calc(100% / 12 * 10);
// $col-11: calc(100% / 12 * 11);
// $col-12: 100%;
